.ag-theme-alpine {
  --ag-font-family: "Open Sans" !important;
  --ag-header-cell-hover-background-color: #dfeeff;
  --ag-header-cell-moving-background-color: #f0f7ff;
  --ag-alpine-active-color: #093f7c;
  --ag-selected-row-background-color: #e2f0fe;
  --ag-row-hover-color: #e2edfb;
  --ag-column-hover-color: #e2edfb;
  --ag-input-focus-border-color: #5fa0eb;
  --ag-range-selection-background-color: #f0f7ff;
  --ag-range-selection-background-color-2: #f0f7ff;
  --ag-range-selection-background-color-3: #f0f7ff;
  --ag-range-selection-background-color-4: #f0f7ff;
  --ag-background-color: transparent;
  --ag-foreground-color: #181d1f;
  --ag-secondary-border-color: #dde2eb;
  --ag-header-background-color: #f0f7ff;
  --ag-odd-row-background-color: #fcfcfc;
  --ag-control-panel-background-color: #f8f8f8;
  --ag-subheader-background-color: #fff;
  --ag-invalid-color: #e02525;
  --ag-checkbox-unchecked-color: #999;
  --ag-checkbox-background-color: var(--ag-background-color);
  --ag-checkbox-checked-color: var(--ag-alpine-active-color);
  --ag-range-selection-border-color: rgb(94 234 212);
  --ag-secondary-foreground-color: var(--ag-foreground-color);
  --ag-input-border-color: var(--ag-border-color);
  --ag-input-border-color-invalid: var(--ag-invalid-color);
  --ag-input-focus-box-shadow: 0 0 2px 0.1rem var(--ag-input-focus-border-color);
  --ag-disabled-foreground-color: rgba(24, 29, 31, 0.5);
  --ag-chip-background-color: rgba(24, 29, 31, 0.07);
  --ag-input-disabled-border-color: rgba(186, 191, 199, 0.3);
  --ag-input-disabled-background-color: rgba(186, 191, 199, 0.15);
  --ag-border-color: rgb(207 230 255);
  --ag-header-column-resize-handle-color: transparent;
}

.ag-theme-balham {
  --border-color: #cfe6ff;
  --ag-border-color: var(--border-color);
  --ag-header-column-separator-color: var(--border-color);
}

.tab-pink .ag-theme-alpine {
  --ag-border-color: rgb(242 204 226);
  --ag-header-cell-hover-background-color: #ffc5e6;
  --ag-range-selection-border-color: #ffc5e6;
}

.tab-orange .ag-theme-alpine {
  --ag-border-color: rgb(250 228 192);
  --ag-header-cell-hover-background-color: #feefd2;
  --ag-range-selection-border-color: #feefd2;
}

.tab-green .ag-theme-alpine {
  --ag-border-color: rgb(200 227 213);
  --ag-header-cell-hover-background-color: #b7e7ce;
  --ag-range-selection-border-color: #b7e7ce;
}

.ag-details-row {
  @apply !p-4 bg-zinc-100;
}

.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-header-cell {
  @apply !py-0.5 !px-2 !text-xs !leading-[.9rem];
}

.ag-ltr .ag-header-select-all {
  margin-right: 12px !important;
}

.ag-row-odd {
  /* @apply bg-gray-200; */
  background-color: #f0f7ff;
}

.ag-cell button {
  @apply leading-none text-xs;
  min-height: 30px !important;
  min-width: auto !important;
}

.ag-cell .MuiSelect-select {
  @apply !py-1 !pl-1;
}

.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-clipper,
.ag-theme-alpine .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine .ag-layout-print .ag-center-cols-clipper,
.ag-theme-alpine .ag-layout-print .ag-center-cols-container,
.ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-clipper,
.ag-theme-alpine-dark .ag-layout-auto-height .ag-center-cols-container,
.ag-theme-alpine-dark .ag-layout-print .ag-center-cols-clipper,
.ag-theme-alpine-dark .ag-layout-print .ag-center-cols-container {
  min-height: auto !important;
}

.ag-theme-alpine .ag-center-cols-container {
  @apply border-b;
  border-color: var(--ag-border-color);
}

.empty-data-table.ag-theme-alpine
  .ag-layout-auto-height
  .ag-center-cols-clipper,
.empty-data-table.ag-theme-alpine
  .ag-layout-auto-height
  .ag-center-cols-container,
.empty-data-table.ag-theme-alpine .ag-layout-print .ag-center-cols-clipper,
.empty-data-table.ag-theme-alpine .ag-layout-print .ag-center-cols-container,
.empty-data-table.ag-theme-alpine-dark
  .ag-layout-auto-height
  .ag-center-cols-clipper,
.empty-data-table.ag-theme-alpine-dark
  .ag-layout-auto-height
  .ag-center-cols-container,
.empty-data-table.ag-theme-alpine-dark .ag-layout-print .ag-center-cols-clipper,
.empty-data-table.ag-theme-alpine-dark
  .ag-layout-print
  .ag-center-cols-container {
  min-height: 100px !important;
}

.ag-header-row .ag-header-group-cell-label {
  @apply justify-center;
}

.ag-header-row-column-group .ag-header-group-cell-with-group {
  @apply text-xs !py-0.5;
  border-color: var(--ag-border-color);
}

/* .ag-overlay {
  @apply !pointer-events-auto;
} */

.ag-header-group-cell-no-group .ag-header-group-cell-label::after {
  content: "";
  width: 100%;
  height: 4px;
  background: #f0f7ff;
  position: absolute;
  bottom: -4px;
  z-index: 1;
}

.ag-header-row,
.ag-root-wrapper {
  overflow: visible !important;
}

/* 
.ag-header-group-cell-label,
.ag-header-cell-label {
  justify-content: center;
} */

.ag-theme-balham .ag-header-viewport,
.ag-header-row,
.ag-header-cell,
.ag-header-group-cell-no-group,
.ag-header-row-column-group .ag-header-group-cell-with-group,
.ag-header-group-cell-no-group .ag-header-group-cell-label::after {
  @apply bg-upag-primary-light;
  border-color: var(--ag-border-color);
}

.ag-cell-wrapper.ag-row-group {
  @apply !items-center;
}

.ag-cell .ag-cell-wrapper {
  @apply w-full overflow-visible min-h-full;
}

.hide-table .ag-header,
.hide-table .ag-group-expanded {
  @apply !hidden;
}

.ag-row-pinned .ag-cell {
  @apply !font-bold;
}

.ag-group-value {
  @apply overflow-visible;
}

.ag-theme-alpine .ag-cell-value {
  line-height: 17px;
}

.ag-header-cell {
  @apply font-semibold;
}

.risk-assesment-gray {
  background-color: #e5e7eb;
}

.risk-assesment-blue {
  background-color: #bfdbfe;
}

.ag-remove-collapse .ag-group-expanded {
  display: none !important;
}

.modal {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  z-index: 1000;
}

.cell-span {
  background: red !important;
}

.ag-cell-label-container {
  @apply !leading-4;
}

.ag-header-group-cell:not(.ag-header-group-cell-with-group) {
  @apply !border-x;
}

/* .ag-header-row .ag-header-cell:nth-child(even),
.ag-row .ag-cell:nth-child(even) {
  background: #f7f9fcb5;

} */

.ag-theme-alpine .ag-header-row .ag-header-cell,
.ag-theme-alpine .ag-row .ag-cell {
  border-bottom-color: var(--ag-border-color);
  border-right: 1px solid var(--ag-border-color);
  /* border-right: 1px solid var(--ag-border-color); */
}

/* .ag-theme-alpine .ag-header-row .ag-header-cell:last-child,
.ag-theme-alpine .ag-row .ag-cell:last-child {
  border-right: 0px !important;
} */

.ag-theme-alpine .ag-header-row .ag-header-cell:nth-child(even) {
  border-bottom: 0px;
}

.ag-theme-alpine
  .ag-header-group-cell-no-group
  .ag-header-group-cell-label::after {
  height: 0px !important;
}

.ag-theme-alpine
  .ag-header-row
  .ag-header-group-cell.ag-header-group-cell-with-group
  + .ag-header-group-cell.ag-header-group-cell-with-group {
  border-left: 1px solid var(--ag-border-color);
  border-right: 1px solid var(--ag-border-color);
}

.ag-row .table-cell-badge .ag-cell-value,
.ag-row .range-red .ag-cell-value,
.ag-row .range-orange .ag-cell-value,
.ag-row .range-info .ag-cell-value,
.ag-row .range-success .ag-cell-value {
  @apply bg-slate-300/25 rounded px-3 py-1.5 font-bold text-slate-950 transition-all duration-300 ease-in-out;
}

.ag-row .range-red .ag-cell-value,
.range-red .legend-box {
  @apply bg-red-300 text-red-800;
}

.ag-row .range-orange .ag-cell-value,
.range-orange .legend-box {
  @apply bg-orange-200 text-orange-800;
}

.ag-row .range-info .ag-cell-value,
.range-info .legend-box {
  @apply bg-blue-200 text-blue-800;
}

.ag-row .range-success .ag-cell-value,
.range-success .legend-box {
  @apply bg-green-200 text-green-800;
}

.ag-row:hover .table-cell-badge .ag-cell-value {
  @apply text-sm;
}

.only-column-filter .ag-side-bar,
.only-column-filter .ag-tool-panel-wrapper {
  @apply w-full bg-white;
}

.only-column-filter .ag-side-buttons {
  @apply hidden;
}

.ag-row-selected::before {
  background-color: transparent !important;
}

.ag-row-footer,
.ag-row-footer:hover {
  @apply bg-yellow-50;
}

.ag-row-footer .ag-cell {
  @apply border border-yellow-100;
}

.ag-row-footer.ag-row-level-0 {
  @apply bg-yellow-100;
}

.ag-row-footer.ag-row-level-0 .ag-cell {
  @apply border border-yellow-200;
}

.ag-row-footer:last-child,
.ag-row-footer:last-child:hover {
  @apply bg-green-200;
}

.ag-row-footer:last-child .ag-cell {
  @apply border border-green-300;
}

.ag-row-footer .ag-cell-value {
  @apply font-bold;
}

.mini-datatable .MuiButtonBase-root:not(.MuiSwitch-switchBase),
.mini-datatable .MuiInputBase-root {
  @apply !min-h-0 !text-xs !h-7;
}

.mini-datatable .MuiButtonBase-root:not(.MuiSwitch-switchBase) {
  @apply !text-xxs;
}

.mini-datatable svg:not(.dont-force-color) {
  @apply text-blue-700 !text-base;
}

.mini-datatable .MuiButtonBase-root:not(.MuiSwitch-switchBase) svg {
  @apply text-inherit;
}

.mini-datatable *:disabled svg {
  @apply !text-inherit;
}

.mini-datatable .svg-inherit svg {
  @apply !text-inherit;
}

.mini-datatable
  .MuiDialog-container
  .MuiButtonBase-root:not(.MuiSwitch-switchBase),
.mini-datatable .MuiDialog-container .MuiInputBase-root {
  @apply !min-h-0 !h-auto;
}

.total-cell {
  @apply bg-yellow-100 font-semibold;
}

.grand-total-cell {
  @apply bg-yellow-200 font-bold;
}

.ag-header-cell-resize {
  right: -6px !important;
}

.ag-group-text-wrap .ag-header-group-text {
  white-space: wrap !important;
}

.overview-table .ag-theme-alpine {
  min-height: auto !important;
  max-height: 200px !important;
  overflow: auto;
}

/* .ag-body-clipper,
.ag-center-cols-clipper {
  @apply !transform-none;
} */
